nest_asyncio
requests
uvicorn
fastapi
pydantic
python-dotenv
beautifulsoup4
lxml
langchain
langchain-openai
langchain-huggingface
langchain-community
langchain-text-splitters
langchain-core
sentence-transformers
faiss-cpu
transformers
torch
selenium
webdriver-manager
numpy
pandas
tiktoken     